:host {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto;
}

.product-card {
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
  0 4px 6px -2px rgba(0, 0, 0, 0.05);
  background-color: #fff;
  border-radius: 15px;
  padding: 15px;
}

.product-card img {
  object-fit: contain;
  display: block;
  max-width: 100%;
  height: 200px;
  margin: 0 auto;
  border-radius: 15px;
}

.product-name {
  font-weight: bold;
  font-size: 22px;
}

.product-description {
  color: rgb(122, 122, 122);
}

.product-price {
  font-weight: bold;
  font-size: 24px;
}

.product-sku {
  font-size: .75rem;
  color: #333;
}

@media screen and (max-width: 720px) {
  .product-listings {
    width: 100%;
  }
}

@media screen and (min-width: 960px) {
  .product-listings {
    width: 49.5%;
  }
}

@media screen and (min-width: 1024px) {
  .product-listings {
    width: 32%;
  }
}

@media screen and (min-width: 1440px) {
  .product-listings {
    width: 24%;
  }
}
