<section class="product-listings" *ngFor="let product of products$ | async">
  <div class="product-card">
    <img [src]="product.image" alt="Image of {{ product.name }}">
    <p class="product-name">{{ product.name }}</p>
    <p class="product-description">{{ product.description }}</p>
    <p class="product-price">{{ product.price | currency:'EUR':'symbol':'0.2-2' }}</p>
  </div>
</section>
