@import '../products/products.component';

.wrapper-form {
  display: block;
  width: 100%;
  margin: 1.5rem 0 0 0;
  border-radius: .5rem;
  padding: 2.125rem;
  background: #CCC;
}

.split {
  display: flex;
  justify-content: space-between;
}

.form {
  width: 79.8%
}

.preview {
  width: 19.8%;
}

.product-name, .product-price, .product-description {
  margin: 1rem 0 .756rem;
}

.form-group {
  display: flex;
  flex-flow: column wrap;
  padding: .75rem .5rem .25rem;
  & textarea, input {
    border-radius: .256rem;
    border: none;
    padding: .512rem;
    &:focus {
      border: none;
      outline: 3px solid rgba(80, 80, 255, .5);
    }
  }
  & textarea {
    resize: vertical;
  }
}


