<section class="wrapper-form">
  <div class="split">
    <div class="form">
      <form [formGroup]="formProduct" (submit)="this.sendProduct()">
        <div class="form-group">
          <label for="name">Name of Product</label>
          <input type="text"
                 id="name"
                 formControlName="name" />
        </div>

        <div class="form-group">
          <label for="description">Description</label>
          <textarea id="description" formControlName="description" rows="7"></textarea>
        </div>

        <div class="form-group">
          <label for="image">Image url</label>
          <input type="text"
                 id="image"
                 formControlName="image" />
        </div>

        <div class="form-group">
          <label for="price">Price</label>
          <input type="number"
                 id="price"
                 formControlName="price" />
        </div>

        <div class="form-group">
          <label for="sku">SKU id</label>
          <input type="text"
                 id="sku"
                 formControlName="sku" />
        </div>
        <div class="form-group d-flex justify-between">
          <button type="reset"
                  class=""
                  [disabled]="this.formProduct.pristine"
                  (click)="this.formProduct.reset()">Reset</button>
          <button type="submit">Envoyer</button>
        </div>
      </form>
    </div>
    <div class="preview" *ngIf="this.getCard()">
      <div class="product-card">
        <img [src]="formProduct.get('image')?.value" alt="{{ formProduct.get('description')?.value }}">
        <div class="product-name">
          {{ formProduct.get('name')?.value }}
        </div>
        <div class="product-description">
          {{ formProduct.get('description')?.value }}
        </div>

        <div class="product-price">
          {{ formProduct.get('price')?.value | currency:'EUR':'symbol':'0.2-2' }} TTC
        </div>
        <div class="product-sku">
          {{ formProduct.get('sku')?.value }}
        </div>
      </div>
    </div>
  </div>
</section>
